body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

.title {
  margin-top: 20px;
}

.button-bar {
  margin: 20px;
}

.start-btn,
.stop-btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.start-btn {
  background: #1e90ff;
  color: white;
}

.stop-btn {
  background: #d9534f;
  color: white;
}

/* Intersección */
.intersection {
  position: relative;
  width: 850px;      
  height: 650px;    
  margin: 40px auto;
}

/* Carreteras */
.road {
  background: #3c3c3c;
  position: absolute;
}

/* Carretera horizontal */
.horizontal {
  width: 100%;
  height: 220px;     
  top: 215px;        
  border-top: 8px solid #2b2b2b;
  border-bottom: 8px solid #2b2b2b;
}

/* Carretera vertical */
.vertical {
  width: 220px;        
  height: 100%;
  left: 315px;         
  border-left: 8px solid #2b2b2b;
  border-right: 8px solid #2b2b2b;
}

/* Líneas blancas horizontales */
.horizontal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 6px;
  background: repeating-linear-gradient(
    to right,
    white 0px,
    white 40px,
    transparent 40px,
    transparent 80px
  );
  transform: translateY(-50%);
  opacity: 0.9;
}

/* Líneas blancas verticales */
.vertical::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 6px;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    white 0px,
    white 40px,
    transparent 40px,
    transparent 80px
  );
  transform: translateX(-50%);
  opacity: 0.9;
}


.light {
  position: absolute;
}

.north { top: 20px; left: 395px; }
.south { bottom: 20px; left: 395px; }
.east  { right: 60px; top: 275px; }
.west  { left: 60px; top: 275px; }

/* Semáforo */
.traffic-light-box {
  background: #556B2F;
  padding: 8px;
  width: 48px;               
  border-radius: 10px;
  border: 3px solid #3B4A1F;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;             
}

.light-circle {
  width: 36px;              
  height: 36px;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.2;
  background: black;
  transition: opacity 0.3s, box-shadow 0.3s;
}

.red { background: red; }
.yellow { background: yellow; }
.green { background: #00ff00; }

.on {
  opacity: 1;
  box-shadow: 0 0 12px white;
}
